@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}

.form-container{
    margin:0 auto;
}
.formulario{
    display: flex;
    margin: 10vh auto;
    padding: 3%;
    width: 30vw;
    flex-direction: column;
    background-color: #6f24d1d5;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 5px 5px 5px rgba(150, 148, 148, 0.692);
}
.formulario:hover{
    box-shadow: 5px 5px 5px rgb(114, 113, 113);
    transition: 0.5s;
}
.formulario > *{
    padding: 10px 0px;
}
.formulario > *:not(label):hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.formulario > *:not(label):focus{
    transform: scale(1.05);
}
.formulario > input[type="text"]{
    text-align: center;
}

.messages{
    display: none;
    margin: 10vh auto;
    padding: 1vw 2vw;
    background-color: #6ffb11b6;
    box-shadow: 5px 5px 5px rgba(150, 148, 148, 0.692);
    width: 30vw;
    border-radius: 15px;
    overflow-y: hidden;
}
.messages:hover{
    box-shadow: 5px 5px 5px rgb(114, 113, 113);
    transition: 0.5s;
}
.mensagem{
    display: flex;
    flex-direction: column;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.795);
    margin: 1vh auto;
    max-width: 400px;
    overflow:auto
}

.formFull{
   display: flex;
    margin: 10vh auto;
    padding: 3%;
    width: 28vw;
    flex-direction: column;
    background-color: #6f24d1d5;
    border-radius: 15px;
    text-align: center;
    color: white;
    resize: none;
}

.formFull:hover{
    box-shadow: 5px 5px 5px rgb(114, 113, 113);
    transition: 0.5s;
}
.formFull > *{
    padding: 10px 0px;
}
.formFull > *:not(label):hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.formFull > *:not(label):focus{
    transform: scale(1.05);
}
.formFull > input[type="text"]{
    text-align: center;
}
#send{
    margin:30px 0px;
}