@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.header {
    display: flex;
    min-height: 60px;
    background-color: #6E24D1;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10%;
}

.navbar a {
    color: white;
    margin: 0 25px;
    font-weight: bold;
    text-decoration: none;
}

#destaque {
    background-color: #6E24D1;
    display: flex;
    padding: 85px 10%;
}

#destaque #left, #right{
    width: 50%;
    align-self: center;
}

#destaque #left p {
    padding: 25px 0;
    color: white;
    font-family: 'Montserrat';
    font-size: 24px;
}

#destaque #left input {
    background-color: #6E24D1;
    border: none;
    border-bottom: white solid 2px;
    width: 65%;
    color: white;
    font-size: 20px;
    line-height: 1.5em;
    margin-right: 5px 10px;
}

#destaque #left button {
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    border-width: 1px;
    color: white;
    width: 30%;
    height: 35px;
    font-size: 16px;
}

#destaque #right {
    text-align: center;
}

#destaque h2 {
    color: white;
    font-size: 64px;
    font-family: 'Montserrat';
    font-weight: bold;
}

#destaque .tags img {
    margin: 45px 2px;
}

#section-1 {
    text-align: center;
    padding: 85px 20%;
}

#section-1 h2 {
    color: rgb(59, 59, 59);
    font-size: 34px;
    line-height: 1.5em;
}

#section-1 a {
    padding: 5px;
    line-height: 5px;
}

#section-1 img {
    width: 25px;
    padding: 5px;
    border: rgb(59, 59, 59) 1px solid;
    border-radius: 25px;
}

#section-1 #button {
    margin: 15px 0;
}

#section-2, #section-3, #section-4, #section-5{
    display: flex;
    padding: 85px 10%;
}

#left, #right {
    width: 50%;
    align-self: center;
    align-content: center;
}

#section-2 #left img {
    width: 550px;
}

#section-2 #right {
    padding: 10px 35px;
}

#section-2 #right h2 {
    color: rgb(59, 59, 59);
    font-size: 34px;
    line-height: 1.5em;
}

#section-2 #right li {
    padding: 25px 15px;
    color: rgb(59, 59, 59);
    line-height: 1.5em;
}

#section-2 #right li::marker {
    font-size: 30px;
    color: #6E24D1;
}

#section-4 #left img {
    width: 450px;
}

#section-4 #right .number {
    font-size: 36px;
    width: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 60px;
    background-color: #6E24D1;
    box-shadow:  0px 10px 8px #0000005d;
    color: white;
    margin-bottom: 20px;
    line-height: 1.1em;
}

#section-4 #right {
    padding: 10px 35px;
}

#section-4 #right h2 {
    color: rgb(59, 59, 59);
    font-size: 34px;
    line-height: 1.5em;
}

#section-4 #right p {
    margin: 15px 0;
    color: rgb(59, 59, 59);
    line-height: 1.5em;
}

#section-4 a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

#section-5 #right img {
    width: 450px;
}

#section-5 #left .number {
    font-size: 36px;
    width: 40px;
    font-weight: bold;
    padding: 10px;
    border-radius: 60px;
    background-color: aquamarine;
    box-shadow:  0px 10px 8px #0000005d;
    color: white;
    margin-bottom: 20px;
    line-height: 1.1em;
}

#section-5 #left {
    padding: 10px 35px;
}

#section-5 #left h2 {
    color: rgb(59, 59, 59);
    font-size: 34px;
    line-height: 1.5em;
}

#section-5 #left p {
    margin: 15px 0;
    color: rgb(59, 59, 59);
    line-height: 1.5em;
}

#section-5 a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}